<div class="iframe">
	<iframe class="iframe__frame" src="{iframe.url}" allowfullscreen="" title="{data.header}" width="{f:if(condition: settings.main.width, then: settings.main.width, else: '100%')}" height="{f:if(condition: settings.main.height, then: settings.main.height, else: '500')}" scrolling="{f:if(condition: settings.main.scrolling, then: settings.main.scrolling)}"></iframe>
</div>
